body {
    margin: auto;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}


.advertisement-container {
    width: 100%;
    display: inline-block;
    margin-top: 10px;

}

/*******************************
            FILTERS
*******************************/


.filters-container {
    width: 30%;
    float: left;
    /*    border: 1px solid black;*/
    padding: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.filters-container h3,
.search-advert-container h2
{
    color: white;
    background-color: #4A56DD;
    text-align: center;
    padding: 5px;
    margin: 2% 20%;
}

.category-container td,
.location-container td {
    padding-left: 20px;
    padding-bottom: 5px;
    display: block;
}

.category-container img,
.location-container img {
    width: 25px;
    height: 20px;
}

#cat-expand-btn,
#loc-expand-btn {
    display: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#cat-collapse-btn,
#loc-collapse-btn {
    display: inline-block;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

/*******************************
            SEARCH
*******************************/

.search-advert-container {
    width: 67%;
    float: left;
    margin-left: 10px;
}

.search-container,
.advert-container {
    width: 100%;
    padding: 10px;
}

.search-container {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    width: 99%;
    text-align: center;
}

.search-container button {
    background-color: white;
    border: none;
    cursor: pointer;
}
.search-container img {
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
}
.search-container .search-inputs {
    display: inline-block;
}

.search-inputs input {
    height: 20px;
}

/*******************************
            ADVERT
*******************************/

.advert-container .header h2{

    margin: 0 30% 10px 30%;

}

.advert-container .advert {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.advert img {
    width: 23px;
    height: 23px;
    float: left;
}

.advert .jobtype,
.advert .location,
.advert .date,
.advert .description,
.advert .contact {
    width: 100%;
    display: inline-block;
}

.advert .jobtype {
    font-size: 110%;
    font-weight: bold;
}

.advert .description {
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.apply-job-cont {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 3px 0;
}

.apply-job-cont:hover button {
    background-color: #E0EDFA;
}

.apply-job-cont:hover {
    background-color: #E0EDFA;
}

.apply-job-cont button {
    border: none;
    background-color: white;
    color: #4A56DD;
    font-size: 110%;
    font-weight: 700;
    cursor: pointer;
}


.advert p {
    margin-top: 2px;
    float: left;
    padding-left: 10px;
}
.advert .contact ul {
    list-style-type: none;
    float: left;
    padding-left: 10px;
    margin-top: 0;
}

.advert .contact li {
    padding: 2px;
}

.advert a {
        position: static;
        display: block;
        padding-bottom: 10px;
    }

.report-icon a {
    position: absolute;
    top: 10px;
    right: 10px;
}

.report-icon a:hover + p {
    display: block;
}

.report-icon p {
    display: none;
    position: absolute;
    top: 33px;
    right: 33px;
    border: 1px solid black;
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 3px;
    background-color: #FBFCFD;
}

.error-msg {
    color: red;
    margin-left: 20px;
}
.success-msg {
    color: #30ED30;
    margin-left: 20px;
}

/*********checkmyapplication.jsp******/
.advert-container .my-app-header {
    width: 100%;
    text-align: center;

}
.advert-container .my-app-header h2 {
    background-color: #4A56DD;
    padding: 5px;
    color: white;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;

}






