.nav-body {
    width: 75%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.valami {
    height: 1100px;
}

.nav-top-icon {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 1%;
    right: 18%;
}

header .logo-container {
    width: 100%;
    height: 80px;
    padding: 30px 0 0 30px;
    display: inline-block;
}

header img,
header p {
    float: left;
}

header img {
    width: 60px;
    height: 60px;
}

header p {
    margin: 20px 0;
    padding-left: 5px;
    color: #4A56DD;
    font-family: Copperplate,Copperplate Gothic Light,fantasy;
    font-size: 140%;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.toggle {
    width: 100%;
    padding: 5px 0;
    background-color: #4A56DD;
    display: none;
    text-align: center;
}

.nav_icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 15px;
}

#navbar {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #4A56DD;
}

#navbar th {
    border: 1px solid #ddd;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: white;

}

#navbar th:hover {
    background-color: #91B4ED;
}

#navbar a {
    text-decoration: none;
    color: white;  
}

.nav-top-icon {
    z-index: 5;
}


