.report-body {
    margin: auto;
    width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}


/*******************************
            ADVERT
*******************************/


.advert {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.advert img {
    width: 23px;
    height: 23px;
    float: left;
}

.advert .jobtype,
.advert .location,
.advert .date,
.advert .description,
.advert .contact {
    width: 100%;
    display: inline-block;
}

.advert .jobtype {
    font-size: 110%;
    font-weight: bold;
}

.advert .description {
    padding-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.advert p {
    margin-top: 2px;
    float: left;
    padding-left: 10px;
}
.advert .contact ul {
    list-style-type: none;
    float: left;
    padding-left: 10px;
    margin-top: 0;
}

.advert .contact li {
    padding: 2px;
}

.advert .check-adv-link {
    position: absolute;
    top: 58%;
    right: 3%;
}


.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.delete-btn button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.advert .delete-btn img {
    border: 1px solid #4A56DD;
    border-radius: 50%;
    margin-top: 4px;
    padding: 4px;
    width: 20px;
    height: 20px;
}


/*******************************
            REPORTS
*******************************/
.reports-container {
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.reports-container .header {
    width: 100%;
    text-align: center;
}
.reports-container .header h2 {
    color: white;
    background-color: #4A56DD;
    width: 70%;
    margin: 20px 15%;
    padding: 5px;
}


table th {
    color: white;
    background-color: #4A56DD;
    padding: 4px;
}
table td {
    
    padding: 4px;
}

.reports-container tr:nth-child(odd) {background: #edf2fa}

tr:nth-child(odd) .delete-clmn img {background: #edf2fa}
.reports-container tr:nth-child(odd) button {background: #edf2fa}

.reporter-clmn {
    width: 12%;
}
.description-clmn {
    width: 50%;
}
.status-clmn {
    width: 10%;
}
.check-adv-clmn {
    width: 1%;
}
.delete-clmn {
    width: 1%;
}

.delete-report-btn 
.review-adv-btn {
    text-align: center;
    
}

.delete-report-btn button,
.review-adv-btn button {
    background-color: white;
    border: none;
    cursor: pointer;
}

.delete-report-btn img,
.review-adv-btn img {
    border-radius: 50%;
    margin-top: 4px;
    padding: 4px;
    width: 20px;
    height: 20px;
}






