.report-container {
    width: 100%;
    display: inline-block;
}

.report-container label,
.report-container input,
.report-container button {
     margin: 5px;
}

.report-container label {
    width: 100%;
}
.report-container input {
    width: 99%;
    font-size: 95%;
    height: 25px;
    float: none;
}

.report-container button {
    width: 110px;
    height: 40px;
    font-size: 105%;
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    box-shadow: 0 0 0 0.5pt black;
    background-color: #4A56DD;
    cursor: pointer;
}

.report-container button:hover {
    opacity: 0.8;
}



