
/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 467px) {
    .login-body {
        width: 98%;
    }
    .login_container {
        margin: 5px 0px;
        width: 100%;
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

