
@media screen and (max-width: 1366px) {
    h3 {
        font-size: 100%;
    }
    
    .work-experience .workexp-header h3,
    .education .ed-header h3{
        width: 80%;
    }

    .workexp-header img,
    .ed-header img {
        margin: 0px 20px 0px 7px;
    }
}

@media screen and (max-width: 1212px) {
    .personal-data p {
        font-size: 95%;
    }
    
    .profile-picture {
        width: 45%;
        height: 200px;
        position: relative;
        overflow: hidden;
        float: left;
        border: 5px solid #C6D2FA;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
        margin: 4px 27.5%;
    }

    .personal-data {
        width: 98%;
    }

    .prof-img {
        width: 100%;
        height: 225px;
    }

   

    .user-name {
        font-size: 100%;
    }
    
    
    
    
    .work-exp p {
        font-size: 95%;
    }
    .educ-unit p {
        font-size: 95%;
    }

    .work-exp .job-position {
        font-size: 100%;
    }
    .educ-unit .school-name {
        margin-left: 10px;
        font-size: 110%;
    }
    
    .sk-header img,
    .lang-header img {
        margin: 2px 5px 2px 0px;
    }
    .skills .sk-header h3,
    .prof-lang .lang-header h3{
        width: 75%;
    }

    .skill p,
    .lang-unit p {
        margin: 4px;
        width: 100%;
        text-align: center;
    }
    .skill .skill-name,
    .lang-unit .lang-name {
        margin-left: 0;
    }

}

@media screen and (max-width: 890px) {
    .profile-body {
        width: 100%;
        margin: 2px 0;
    }
}

@media screen and (max-width: 680px) {
    .profile-column1,
    .profile-column2 {
        width: 100%;
    }
    
     .profile-picture {
        width: 35%;
        margin: 4px 32%;
     }

    .workexp-header,
    .ed-header {
        margin-left: 2%;
        margin-right: 2%;
    }

    .work-experience .workexp-header h3,
    .education .ed-header h3{
        width: 85%;
    }


    .skills .sk-header h3,
    .prof-lang .lang-header h3{
        width: 80%;
    }

}

@media screen and (max-width: 445px) {
    
    .profile-picture {
        width: 50%;
        margin: 4px 24.5%;
     }

    .work-experience .workexp-header h3,
    .education .ed-header h3{
        width: 100%;
        float: none;
    }

    .workexp-header img,
    .ed-header img {
        float: none;
    }

    .skills .sk-header,
    .prof-lang .lang-header {
        float: none;
    }

    .sk-header img,
    .lang-header img {
        float: none;
    }

    .skills .sk-header h3,
    .prof-lang .lang-header h3{
        width: 100%;
        float: none;
    }
}

